In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("HR_comma_sep.csv.crdownload", encoding = 'utf-8')

In [4]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Clean DF

In [5]:
def reading_cleaning(df):
    sal={
        'high':3,
        'medium':2,
        'low':1,
        'h':3,
    }

    df['num_salary']=df.salary.apply(lambda x: sal[x])
    cols=df.columns.tolist()
    cols.insert(len(cols),cols.pop(cols.index('left')))
    df=df[cols]
    df.columns=[x.lower() for x in cols]
    df.drop_duplicates(inplace=True)
    
    return df
df = reading_cleaning(df)

C:\Users\hp\AppData\Local\Temp\ipykernel_17820\1387861399.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [6]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,promotion_last_5years,department,salary,num_salary,left
0,0.38,0.53,2,157,3,0,0,sales,low,1,1
1,0.80,0.86,5,262,6,0,0,sales,medium,2,1
2,0.11,0.88,7,272,4,0,0,sales,medium,2,1
3,0.72,0.87,5,223,5,0,0,sales,low,1,1
4,0.37,0.52,2,159,3,0,0,sales,low,1,1

## EverationEmployee Details

In [7]:
def employee_important_info(df):
    # Average satisfaction level
    average_satisfaction = df['satisfaction_level'].mean()
    # Department-wise average satisfaction level
    department_satisfaction = df.groupby('department')['satisfaction_level'].mean()
    # Salary-wise average satisfaction level
    salary_satisfaction = df.groupby('salary')['satisfaction_level'].mean()

    # Employees who left
    left_employees = len(df[df['left'] == 1])
    # Employees who stayed
    stayed_employees = len(df[df['left'] == 0])
    
    return average_satisfaction,department_satisfaction,salary_satisfaction,left_employees,stayed_employees

In [8]:
average_satisfaction,department_satisfaction,salary_satisfaction,left_employees,stayed_employees = employee_important_info(df)

In [9]:
print("Average Satisfaction Level:", average_satisfaction)
print("Department-wise Average Satisfaction Level:\n", department_satisfaction)
print("Salary-wise Average Satisfaction Level:\n", salary_satisfaction)
print("Employees who left:\n", left_employees)
print("Employees who stayed:\n", stayed_employees)

Average Satisfaction Level: 0.6025083272990586
Department-wise Average Satisfaction Level:
 department
IT             0.596568
RandD          0.606976
accounting     0.578370
hr             0.595282
management     0.599833
marketing      0.605653
product_mng    0.607022
sales          0.601585
support        0.614926
technical      0.601670
Name: satisfaction_level, dtype: float64
Salary-wise Average Satisfaction Level:
 salary
h         0.240000
high      0.627799
low       0.592670
medium    0.610444
Name: satisfaction_level, dtype: float64
Employees who left:
 1991
Employees who stayed:
 4914